<div class="products-page">
  <aside class="filters">
    <h2>Filter</h2>

    <div class="filter-section">
      <h4>Price Range</h4>
      <div class="price-range">
        <label for="min-price">Min Price</label>
        <input
          type="number"
          id="min-price"
          [(ngModel)]="minPrice"
          min="0"
          placeholder="0"
        />

        <label for="max-price">Max Price</label>
        <input
          type="number"
          id="max-price"
          [(ngModel)]="maxPrice"
          max="5000"
          placeholder="5000"
        />
      </div>
      <p>Showing items from ${{ minPrice ?? 0 }} to ${{ maxPrice ?? 5000 }}</p>
    </div>

    <div class="filter-section">
      <h4>Component</h4>
      <label class="checkbox">
        <input type="checkbox" (change)="updateFilters('CPU', $event)" />
        CPU
      </label>
      <label class="checkbox">
        <input type="checkbox" (change)="updateFilters('GPU', $event)" />
        GPU
      </label>
      <label class="checkbox">
        <input type="checkbox" (change)="updateFilters('RAM', $event)" />
        RAM
      </label>
      <label class="checkbox">
        <input
          type="checkbox"
          (change)="updateFilters('MOTHERBOARD', $event)"
        />
        Motherboard
      </label>
      <label class="checkbox">
        <input type="checkbox" (change)="updateFilters('CASE', $event)" />
        Case
      </label>
    </div>

    <!-- Submit Button to Apply Filters -->
    <button (click)="applyFilters()">Apply Filters</button>
  </aside>

  <section class="product-list">
    <app-product-card
      *ngFor="let product of products"
      [product]="product"
      [addToBuild]="addToBuild.bind(this)"
    ></app-product-card>
  </section>
</div>
