<div class="app-container">
  <app-menu (menuToggle)="toggleSidenav()"></app-menu>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      mode="over"
      class="sidenav"
      (closed)="onSidenavClosed()"
    >
      <div class="sidenav-content">
        <a routerLink="/" routerLinkActive="active" (click)="closeSidenav()"
          >Home</a
        >
        <a
          routerLink="/products"
          routerLinkActive="active"
          (click)="closeSidenav()"
          >Products</a
        >
        <a
          routerLink="/builder"
          routerLinkActive="active"
          (click)="closeSidenav()"
          >Builder</a
        >
        <a
          routerLink="/profile"
          routerLinkActive="active"
          (click)="closeSidenav()"
          >Profile</a
        >
        <a routerLink="/auth" routerLinkActive="active" (click)="closeSidenav()"
          >Auth</a
        >
        <a
          routerLink="/login"
          routerLinkActive="active"
          (click)="closeSidenav()"
          >Log In</a
        >
        <a
          routerLink="/logout"
          routerLinkActive="active"
          (click)="closeSidenav()"
          >Log Out</a
        >
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
